@font-face {
    font-family: 'idroid' ;
    src: url(fontes/idroid.otf);
}

html {
    height: 100%;
}

body {
    background-color: #5ddcb8;
    text-align: center;
    text-indent: 10px;
    margin-inline-start: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);

}
main {
    background-color: white;
    padding: 30px;
    margin: 0px 200px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514); 
}

#frase {
    text-shadow: 1px 1px black;
}

#titulo {
    text-shadow: 1px 2px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}

h2 {
    font-family: 'idroid' ,Arial, Helvetica, sans-serif;
    text-align: left;
    color: #366557ec;
    margin-left: 10px;margin-right: 50px;
    font-size: 35px
    ;
}
h2#versão {
border:2px #5ddcb8;
background-image: linear-gradient(to right, #92e7aaa3,white);
text-align: left;
margin-left: 10px;margin-right: 50px;
}
p#texto{
    margin-inline-start: 10px;
    text-align: justify;
    padding: 0px 10px;
    font-size: 20px;
}

#texto3 {
    text-align: justify;
    padding: 10px;
}

header {
    display: block;
    margin: auto;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to top, #1e5b15eb,#97eaab);
    text-align: center;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
    } 
nav {
    text-align: left;
    text-indent: 15px;
}
nav>a {
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 10px;
    
}

 #video {
    background-color: #245043;
    margin: 5px 5px 5px 5px;
    padding: 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
 }   

#aprender {
    background-color: #88f194;
    border-radius: 20px 20px 0px 3px;
    text-align: left;
    color: white;
    width: 1050px;
    height: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
}

#destaque {
    color: #245043;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

#quadrado {
    background-color: #b0ecdba4;
    width: 1050px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 25px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
}
#lista1 {
    text-align: left;
    width: 300px;
    height: 120;
    
}
#coluna1 {
    text-align: left;
   
}

#lista2 {
    text-align: right;
    width: 300px;
    height: 150;
    
}
#coluna2 {
    text-align: left;
    
}

footer > p {
    margin: 0px;
    
}

footer {    
background-color: #245043;
color: white;
margin-top: 10px;
padding: 25px;
height: 15px;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
}