@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2BEA0,#8C452B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow:5px 5px 15px #260801  ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #391812;
    text-align: center;
    text-shadow: 1px 1px 0px #ad6453;
}
p {
    text-align: justify;
}